<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>readers_heaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>categoryServlet</display-name>
    <servlet-name>categoryServlet</servlet-name>
    <servlet-class>controller.categoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>controller.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookDetailServlet</display-name>
    <servlet-name>bookDetailServlet</servlet-name>
    <servlet-class>controller.bookDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookDetailServlet</servlet-name>
    <url-pattern>/bookDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reviewServlet</display-name>
    <servlet-name>reviewServlet</servlet-name>
    <servlet-class>controller.reviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewServlet</servlet-name>
    <url-pattern>/reviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shopServlet</display-name>
    <servlet-name>shopServlet</servlet-name>
    <servlet-class>controller.shopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopServlet</servlet-name>
    <url-pattern>/shopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartServlet</display-name>
    <servlet-name>cartServlet</servlet-name>
    <servlet-class>controller.cartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCartServlet</display-name>
    <servlet-name>deleteCartServlet</servlet-name>
    <servlet-class>controller.deleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCartServlet</servlet-name>
    <url-pattern>/deleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCartServlet</display-name>
    <servlet-name>addCartServlet</servlet-name>
    <servlet-class>controller.addCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCartServlet</servlet-name>
    <url-pattern>/addCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>controller.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>controller.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>membershipServlet</display-name>
    <servlet-name>membershipServlet</servlet-name>
    <servlet-class>controller.membershipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>membershipServlet</servlet-name>
    <url-pattern>/membershipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMembershipServlet</display-name>
    <servlet-name>addMembershipServlet</servlet-name>
    <servlet-class>controller.addMembershipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMembershipServlet</servlet-name>
    <url-pattern>/addMembershipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkoutServlet</display-name>
    <servlet-name>checkoutServlet</servlet-name>
    <servlet-class>controller.checkoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutServlet</servlet-name>
    <url-pattern>/checkoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orderServlet</display-name>
    <servlet-name>orderServlet</servlet-name>
    <servlet-class>controller.orderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addreessServlet</display-name>
    <servlet-name>addreessServlet</servlet-name>
    <servlet-class>controller.addreessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addreessServlet</servlet-name>
    <url-pattern>/addreessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userAddressServlet</display-name>
    <servlet-name>userAddressServlet</servlet-name>
    <servlet-class>controller.userAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAddressServlet</servlet-name>
    <url-pattern>/userAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAddressServlet</display-name>
    <servlet-name>addAddressServlet</servlet-name>
    <servlet-class>controller.addAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAddressServlet</servlet-name>
    <url-pattern>/addAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadServlet</display-name>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>controller.uploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
</web-app>